.nav-bar__empty-space {
	height: 60px;
}

.home-banner__container {
	width: 90vw;
	height: 25vh;
	margin: 10px auto;
	background-color: $darkred;
	border-radius: 5px;
	color: $orange-brown;

	h1 {
		font-family: 'Aref Ruqaa', serif;
		font-size: 5em;
		text-align: center; 
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.5em;
	}

	h2, h3 {
		font-family: 'Ubuntu Condensed', sans-serif;
		padding: 0 20px;
		margin: 5px 30px;
		float: right;
		clear: right;
	}

}

.home-content__container {
	width: 90vw;
	margin: 0 auto;
	
	img {
		float: left;
		width: 50vw;
		margin-right: 10px;
	}

}

// .home-content__spice-lady-img {
// 		width: 200px;
// 		height: 500px;
// 		float: left;
// 		background-image: url('images/home/spice-lady.jpeg');
// 		background-repeat: no-repeat;
// 		background-size: cover;
// 	}

a {
	color: #4286f4;
}












