.home-banner__container {
	width: 100vw;
	height: 30vh;
	margin: 0 auto;
	background-color: $darkred;
	color: $orange-brown;
}

.home-content__container {
	width: 90vw;
	margin: 0 auto;

}

a {
	color: #4286f4;
}
