@import url('https://fonts.googleapis.com/css?family=Ruge+Boogie');
$logo-font: 'Ruge Boogie', cursive;
$main-color: rgba(220, 20, 60, .5);
$font-color-header-footer: white;

.nav {
	background-color: $main-color;
	width: 100%;
	position: fixed;
	box-sizing: border-box;
}


.nav ul {
	list-style-type: none;
	margin-bottom: 0px;
	text-decoration: none;
	color: $font-color-header-footer;
}

.nav li:first-child {
	margin-left: 20px;
	font-family: $logo-font;
	font-size: 2.5em;
	display: inline-block;
}

.nav li {
	display: inline-block;
	margin-left: 40px;
	font-family: times;
}

.nav li a {
	color: white;
	text-decoration: none;
	background-color: inherit;
	opacity: .7;
}

.nav li a:hover {
	opacity: 1;
}

.nav li a:focus {
	outline: none;
}

.s_box {
	background-color: red;
	height: 5px;
	float: left;
	width: 20%;
	opacity: .5;
}

.small_box {
	background-color: black;
	height: 5px;
	float: left;
	width: 20%;
	opacity: .5;
}


.footer {
	bottom: 0;
	position: absolute;
	background-color: $main-color;
	width: 100%;
	height: 50px;
}

.footer p {
	margin-top: 15px;
	color: $font-color-header-footer;
	opacity: .7
}

.footer p:hover {
	opacity: 1;
}
