@import url('https://fonts.googleapis.com/css?family=Ruge+Boogie');
$logo-font: 'Ruge Boogie', cursive;
$main-color: rgba(220, 20, 60, .5);
$font-color-header-footer: white;

.nav {
	background-color: $main-color;
	width: 100%;
	position: fixed;
	box-sizing: border-box;
	z-index: 100;
}

.nav ul {
	list-style-type: none;
	margin-bottom: 0px;
	text-decoration: none;
	color: $font-color-header-footer;
}

.nav li:first-child {
	margin-left: 20px;
	font-family: $logo-font;
	font-size: 2.5em;
	display: inline-block;
	opacity: .7;
}

.nav li {
	display: inline-block;
	margin-left: 40px;
	font-family: times;
	cursor: pointer;
}


.nav li a {
	color: white;
	text-decoration: none;
	background-color: inherit;
	opacity: .7;
}

.nav li:hover {
	opacity: 1;
}

.nav li:focus {
	outline: none;
}

.nav li a:hover {
	opacity: 1;
}

.glyphicon {
	font-size: 20px;
	opacity: .7;
}

.glyphicon:hover {
	opacity: 1;
}

.dropdown_shop_cart {
	height: 200px;
	width: 200px;
	background-color: white;
	position: absolute;
	border: 1px solid rgba(220, 20, 60, .5);
	z-index: 100;
	display: none;
	opacity: 1;
}

.s_box {
	background-color: red;
	height: 5px;
	float: left;
	width: 20%;
	opacity: .5;
}

.small_box {
	background-color: black;
	height: 5px;
	float: left;
	width: 20%;
	opacity: .5;
}

.scroll_bar {
	height: 20px;
	width: 140px;
	background-color: $main-color;
	display: block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
	border-radius: 25px;
}

.scroll_bar p {
	color: white;
	font-family: times;
	letter-spacing: 2px;
}

.footer {
	bottom: 0;
	position: absolute;
	background-color: $main-color;
	width: 100%;
	border-radius: 5px;
	display: none;
}

.footer p {
	color: $font-color-header-footer;
	display: inline-block;
}


.spice_lady {
	width: 30px;
	height: 30px;
	margin-right: 40px;
	margin-top: 2px;
	display: inline-block;
}


