<div class="headerclear">
</div>

<div id="quotebox">
<h2 id="pullquote">She who controls the Spice, controls the universe.</h2>
</div>



<div class="col-md-8">
	<div id="mainbody">
	<h2>Who we are and what we do</h2>
	<p> When I started the Spice Rack in 12 B.G., under the reign of Saudir the Great, I had only one intention: to mine and disseminate the Spice. A beginning is a very delicate time. Know then that it is the year ten thousand and one, ninety one. The known universe is ruled by the Padishah Emperor, Shaddam the fourth, my father. In this time the most precious substance in the universe is the Spice Melange. The Spice extends life, the Spice expands consciousness, the Spice is vital to space travel. The Spacing Guild and its Navigators who the Spice has mutated over four thousand years use the orange Spice gas, which gives them the ability to fold space, that is travel to any part of the universe without moving. Oh yes, I forgot to tell you, the Spice exists on only one planet in the entire universe, a desolate, dry planet, with vast deserts. Hidden away within the rocks of these deserts are a people known as the Fremen, who have long held a prophecy that a man would come, a messiah, who would lead them to true freedom. The planet is Arrakis, also known as Dune.</p>
	</div>
	<div id="mainbody">
	<h2>Praise for the Spice Rack</h2>
	<p> "A world is supported by four things ... the learning of the wise, the justice of the great, the prayers of the righteous and the valor of the brave. But all of these are as nothing ... without a ruler who knows the art of ruling. Make that the science of your tradition!" - Paul Atreides</p>
	<p> "Greatness is a transitory experience. It is never persistent. It depends in part upon the myth-making imagination of humankind. The person who experiences greatness must have a feeling for the myth he is in. He must reflect what is projected upon him. And he must have a strong sense of the sardonic. This is what uncouples him from belief in his own pretensions. The sardonic is all that permits him to move within himself. Without this quality, even occasional greatness will destroy a man." - Princess Irulan</p>
	</div>
</div>

 <div class="col-md-4">
 	<div class="heroimage">
	<img src="images/ginger-spice.jpg" id="ginger">
	<div>
 </div>