<div class="headerclear">
</div> 
<div class="contact-form">
	<form method="POST" action="/thankyou">

		<input type="name" name="name" placeholder="Enter your name">
		<br>
		<input type="text" name="email" placeholder="email address">
		<br>
		<br>

		<textarea name="message" placeholder="Enter your message here."></textarea>
		<br>
		<button type="submit">Submit!</button>

	</form>
</div>