<div class="headerclear">
	</div>
<div class="mainbody">
	<h2 id="pullquote2">Ask the Spice Lady</h2>

<p>Have a question about one of our products? Looking for something specific? Use the contact form below and our Spice Lady will be in touch soon.</p>
</div>

<div class="contact-form">
	<form method="POST" action="/thankyou">

		<input type="text" name="name" placeholder="Enter your name">
		<br>
		<input type="text" name="email" placeholder="email address">
		<br>
		<br>
		
		<textarea name="message" placeholder="Enter your message here."></textarea>
		<br>
		<button type="submit">Submit!</button>
	
	</form>
</div>