<head>
	<title>The Spice Rack</title>
	<!-- Custom fonts -->
	<link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
</head>

<div class="nav-bar__empty-space">
</div>
<header>
	<div class="home-banner__container">
		<h1>the Spice Rack</h1>
		<h2>Your one-stop source for spices and advice</h2>
		<h3>from our very own Spice Lady</h3>
	</div>
</header>

<div class="home-content__container">

	<img src="images/home/spice-lady.jpeg">
	<!-- <div class="home-content__spice-lady-img"></div> -->
	
	<div class="home-content__text">
		<p>
			Welcome to the Spice Rack! We specialize in locally grown and sustainably sourced herbs and spices.
			Read more about us and our story on our <a href="/about">About</a> page.
		</p>
		<p>
			The Spice Lady says: Include herbs and spices in your diet! You'll find they're really beneficial to your physical and mental wellbeing. Head over to our <a href="/products">Products</a> page to learn about the herbs and spices we stock.
		</p>
	</div>

</div>