<head>
	<title>The Spice Rack</title>
</head>

<header>
	<div class="home-banner__container">
		<h1>The Spice Rack</h1>
		<h2>Your one-stop source for spices and advice</h2>
		<h3>from our very own Spice Lady</h3>
	</div>
</header>

<div class="home-content__container">
	<p>
		Welcome to the Spice Rack! We specialize in locally grown and sustainably sourced herbs and spices.
		Read more about us on our <a href="/about">About</a> page.
	</p>
	<p>
		Include herbs and spices in your diet - they're greatly beneficial to your bodily and mental wellbeing. Our Spice Lady is a witch from way back - read more about our products and their uses on our <a href="/products">Products</a> page.
	</p>

	<img src="images/home/spice-lady.jpeg">

</div>