<!DOCTYPE html>
<html>
<head>
	<title> The SpiceRack</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/script.js"></script>
</head>
<body>
	<div class="nav">
		<ul>
			<li><a href="/">The Spice Rack</a></li>	
			<li><a href="/about">About</a></li>
			<li><a href="/products">Products</a></li>
			<li><a href="/contact">Contact Us</a></li>
		</ul>
	
		<div class="small_box"></div>
		<div class="s_box"></div>
		<div class="small_box"></div>
		<div class="s_box"></div>
		<div class="small_box"></div>

	</div>
<%= yield %>

	
<div class="footer">

		<div class="s_box"></div>
		<div class="small_box"></div>
		<div class="s_box"></div>
		<div class="small_box"></div>
		<div class="s_box"></div>

<div class="spice_lady"></div>		
<center>	
<p> The Spice Lady is offering 50% off all products during our Christmas BLOWOUT sale! </p>
</center>
</div>	

</body>
</html>