<head>
  <title>The Spice Rack</title>
  <!-- Custom fonts -->
  <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">
</head>
<div class="nav-bar__empty-space">
</div>
<header>
	<div class="home-banner__container">
		<h1>the Spice Rack</h1>
		<h2>Your order summary</h2>
	</div>
</header>
<div class="table-container">
<table class="order-table">
  <tr class="table-row">
    <th class="table-head"> Spice </th>
    <th class="table-head"> Amount </th>
    <th class="table-head"> Price/ounce </th>
    <th class="table-head"> Total </th>
  </tr>
</table>
</div>
