<div class="spacer-div">
  
</div>
<div class="container">
  <h1> Homegrown spices</h1>
  <div class="row">
    <div class="col-md-12">
      <h2> Fresh plant spices </h2>
      <div class="carousel slide multi-item-carousel" id="theCarousel0">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-md-4"><img src="images/products/basil-bsp.jpg" class="img-responsive"></div>
          </div>
          <div class="item">
            <div class="col-md-4"><img src="images/products/cilantro1.jpg" class="img-responsive"></div>
          </div>
          <div class="item">
            <div class="col-md-4"><img src="images/products/Oregano2.jpg" class="img-responsive"></div>
          </div>
          <div class="item">
            <div class="col-md-4"><img src="images/products/tarragon.jpg" class="img-responsive"></div>
          </div>
          <div class="item">
            <div class="col-md-4"><img src="images/products/Rosemary.jpg" class="img-responsive"></div>
          </div>
          <div class="item">
            <div class="col-md-4"><img src="images/products/Sage.jpg" class="img-responsive"></div>
          </div>
          <!-- add  more items here -->
          <!-- Example item start:  -->
          
          <div class="item">
            <div class="col-md-4"><img src="images/products/thyme.jpg" class="img-responsive"></div>
          </div>
          
          <!--  Example item end -->
        </div>
        <a class="left carousel-control" href="#theCarousel0" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel0" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div> <!-- end row -->

  <div class="row">
    <div class="col-md-12">
      <h2> Seed spices </h2>
      <div class="carousel slide multi-item-carousel" id="theCarousel1">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-md-4 div-img"><img src="images/products/cumin1.jpg" class="img-responsive"><p class="spice-price"> Local cumin: $2.30</p></div>
          </div>
          <div class="item">
            <div class="col-md-4 div-img"><img src="images/products/coriander1.jpg" class="img-responsive"><p class="spice-price"> Homegrown coriander: $1.10</p></div>         
          </div>
          <div class="item">
            <div class="col-md-4 div-img"><img src="images/products/mustard1.jpg" class="img-responsive"><p class="spice-price"> Local mustard: $2.30</p></div>
          </div>
          <div class="item">
            <div class="col-md-4 div-img"><img src="images/products/fennel1.jpg" class="img-responsive"><p class="spice-price"> Local fennel: $3.80</p></div>
          </div>
          <div class="item">
            <div class="col-md-4 div-img"><img src="images/products/nutmeg1.jpg" class="img-responsive"><p class="spice-price"> Local nutmeg: $4.60</p></div>
          </div>
          <div class="item">
            <div class="col-md-4 div-img"><img src="images/products/Cardamom1.jpg" class="img-responsive"><p class="spice-price"> Local cardamom: $5.70</p></div>
          </div>
          <!-- add  more items here -->
          <!-- Example item start:  -->
          
          <div class="item">
            <div class="col-md-4 div-img"><img src="images/products/peppercorn1.jpg" class="img-responsive"><p class="spice-price"> Homegrown peppercorn: $1.30</p></div>  
          </div>
          
          <!--  Example item end -->
        </div>
        <a class="left carousel-control" href="#theCarousel1" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel1" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  </div> <!-- end row -->
</div> <!-- end container -->